
h1{
    text-decoration: underline;
    color: purple;
    text-align: center;
}
.question{
    font-weight: bold;

}
.answer{
    font-style: italic;
}
div{
    height: 100px;
    width: 100px;
    border: 2px black solid;
    border-radius: 50px;
    background-color: green;

}